//variables
$color-red: #A10B00;
$color-orange: #FF8500;
$color-yellow: #F28500;
$color-blue: #7CD0FF;
$color-black: #050505;

html, body {
  height:100vh;
  max-height: 100vh;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

.hori-scroll {
height: 100vh;
border: 2px solid;
margin: 30px;
padding: 30px;
display: inline-block;
}

/* FONT PATH
 * -------------------------- */
 @font-face {
     font-family: 'contentFont';
     src: local('contentFont.otf'),
           url('../../source/font/contentFont.otf');
     src: local('contentFont.ttf'),
     url('../../source/font/contentFont.ttf') format('truetype'); /* Safari, Android, iOS */
    //  url('/css/fonts/IranSans.woff') format('woff'), /* Modern Browsers */
    //  url('/css/fonts/IranSans.svg') format('svg'); /* Legacy iOS */
 }

 @font-face {
    font-family: 'titleFont';
    src: local('titleFont.ttf'),
    url('../../source/font/titleFont.ttf') format('truetype');
}

@font-face {
   font-family: 'lightFont';
   src: local('lightFont.ttf'),
   url('../../source/font/lightFont.ttf') format('truetype');
}

@font-face {
   font-family: 'fontAwesome';
   src: local('fontAwesome.otf'),
   url('../../source/font/fontAwesome.otf');
}

h1, h2, h3, h4, h5 {
  font-family: titleFont, 魏碑,Helvetica, Arial, sans-serif;

}

p {
  font-family: contentFont，魏碑,Helvetica, Arial, sans-serif;

}

/* all chapters introduction page */
.intro {
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 50%;
  min-height: 50%;
  text-align:center;
   line-height: 2.0em;
   position: fixed;
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);

}


button, btn {
  border: solid 1px $color-yellow;
    padding: 5px;
    min-height:50px;
    min-width:90px;
    border-radius: 1px; // support: IE9+ ;)
    background-clip: content-box; // support: IE9+
    background-color:$color-yellow;
    line-height: 1;
    font-size: 20px;
    color:$color-black;
    text-indent: 0.5rem;
    text-decoration: none;
}

.intro-text {
  padding:30px 30px 0 30px;
  max-width: 600px;
  color:white;
}

.line{ margin-top: 20%; opacity:0; overflow:hidden;height:20px;}

.logo {
  background: url(img/logo/logos-04.svg) no-repeat top left;
  background-size: contain;
  width:300px;
  height:150px;
}

 .logo-property{
   opacity: 0.9;
    -webkit-filter: drop-shadow(10px 10px 10px #222);
    filter:         drop-shadow(10px 10px 10px #222);
}

.no-svg .main-header {
  background-image: url(img/logo/logos-04.svg.png);
}
