.timeline-page{
  width:auto;
  overflow-x: visible;
}
.timeline-list{
  margin-left: 150px;
  margin-top:10vh;
}
.timeline-each {
  width:300px;
  height:55vh;
  background-color: rgba(255,255,255,0.2);
  margin:0px 50px auto 50px;
  padding:50px;
  border-bottom: 10px solid $color-grey;
  color:$color-black;
  overflow: hidden;
}
.timeline-cover{
  bottom:0 !important;
  width:120%;
  height:auto;
  margin-top:35%;
  background-image: url("../../img/layout/time-bg.png");
  z-index: 1000;
// box-shadow: inset 0 0 2em 2em rgba(255,255,255,.9);
}

.timeline-img{
  bottom:0 !important;
  width: 130%;
  height: auto;
  opacity:0.4;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  &:hover {
    -webkit-filter: grayscale(30%);
    filter: grayscale(30%);
    -webkit-transition: 1s -webkit-filter linear;
    -moz-transition: 1s -moz-filter linear;
    -moz-transition: 1s filter linear;
    -ms-transition: 1s -ms-filter linear;
    -o-transition: 1s -o-filter linear;
    transition: 1s filter linear;
  }
}

.timeline-each::before{
}
.time-img{
  max-width: 100%;
  height:auto;
}

.timeline-line {
  width: 86%;
  height:4px;
  border-top: 3px solid $color-grey;
  border-bottom: 3px solid $color-grey;
  margin-top:60px;
  margin-left:240px;
}
.timeline-node {
  width:20px;
  height:20px;
  background-color:$color-grey;
  border:3px solid $color-paper;
  border-radius: 50%;
  position: absolute;
  margin-top:-10px;
}

.node1 {
  margin-left: 450px;
}
.node2 {
  margin-left: 540px;
}
.node3 {
  margin-left: 1100px;
}
.node4 {
  margin-left: 2240px;
}
.node5 {
  margin-left: 2370px;
}
.node6 {
  margin-left: 2460px;
}
